*{
    margin: 0px;
    padding: 0px;
}

:root{
    --bg: #142F43;
    --color: #D7E9F7;
    --white: #fff;
    --dark: #000;
    font-size: 18px;

}

.body{
    background: var(--bg);
    max-height: 100vh;
    font-family: 'Patrick Hand';
    color: #D7E9F7;
}

.loader{

}

.loading{
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 2px;
    background-color: var(--white);
    padding: 20px;
    position: absolute;

}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    outline: none;
    border: none;
    padding: 5px 10px;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: scale(0.99);
}

/* .header{
    /* position: relative; */
    /* height: 100vh; */

/* } */

.content{
    position: absolute;
}

.aside-button{
    position: absolute;
    top: 45%;
    left: -50px;
    /* margin-left: -50px; */
    /* margin-top: 100px; */
    width: 50px;
    height: 50px;
    background: var(--white);
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    z-index: 1px;
}

.aside{
    height: 100vh;
    position: fixed;
    right: 0px;
    width: 0px;
    animation: closeMenu .3s linear;
    animation-fill-mode: forwards;
    /* overflow: hidden; */
}
.aside-expand{
    height: 100vh;
    /* width: calc(100% - 50px); */
    position: fixed;
    text-align: center;
    font-size: 22px;
    background: wheat;
    animation: openMenu .5s linear;
    animation-fill-mode: forwards;
}

.aside__list{
    padding: 20px;
}

@keyframes openMenu {
    from{
        width: 0px;

    } to {
        width: calc(100% - 50px);
        max-width: calc(100% - 50px);
    }
}

@keyframes closeMenu {
    from{
        width: calc(100% - 50px);
        background: wheat;


    } to {
        width: 0px;

    }
}



/* header */

.header{
    padding: 20px 10px;
    height: 100vh;
}

.header__title{
    display: block;
    padding: 10px 0px;
    font-size: 32px;
    font-weight: 600;
}

.header__imagen-content{
    height: 70vh;
}

.header__imagen-content > img{
    width: 100%;
    
}


.header__more_info{
    width: 100%;
    font-size: 24px;
    line-height: 1;
}

.header__more_info > p{
    text-align: right;
}

section, header, footer {
    padding: 15px 10px;
}

.about_me{
    height: 100vh;
}

.about_me__text{
    display: block;
    text-align: justify;
}

.about_me__image_content{
    display: block;
    margin: auto;
    width: 100%;
    padding: 30px 0px;


}

.about_me__image_content > img{
    width: 100%;
}


/* P O R T A F O L I O S */

.porafolius__content{
    display: flex;

    
}

.card{
    display: inline-block;
    border: 1px solid;
    width: 90%;
    height: 250px;
}

/*  E X P E R I E N C E */
.experience{
    min-height: 100vh;
}

.experience > h2{
    margin: 5px 0px;

}

.experience__list{
    padding: 20px 0px;
}

.experience__list__rol{
    font-size: 13px;
}


.experience__list__bussiness{
    font-size: 19px;
    font-weight: bold;
}

.experience__btn-more{
    display: block;
    width: 200px;
    margin-top: 20px;
    margin: auto;
    font-size: 15px;
}

.contact{
    background: var(--dark);
    color: var(--white);
    height: 250px;
}

.contact{
    padding: 10px;
}

.contact__list{
    padding: 10px 0px;
}

.contact__list-item{
    line-height: 2;
}

@media only screen and (min-width: 600px){
    .body{
        max-width: 550px;
        margin: auto;
    }

    
}







